src/META-INF/wsdl/localhost_8080/ICT2WebApplication/ICT2WebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://server/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://server/" name="ICT2WebService">
<types>
<xsd:schema>
<xsd:import namespace="http://server/" schemaLocation="http://localhost:8080/ICT2WebApplication/ICT2WebService?xsd=1"/>
</xsd:schema>
</types>
<message name="longestString">
<part name="parameters" element="tns:longestString"/>
</message>
<message name="longestStringResponse">
<part name="parameters" element="tns:longestStringResponse"/>
</message>
<message name="getLargestDouble">
<part name="parameters" element="tns:getLargestDouble"/>
</message>
<message name="getLargestDoubleResponse">
<part name="parameters" element="tns:getLargestDoubleResponse"/>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="getAllDoubleSamplesAbove">
<part name="parameters" element="tns:getAllDoubleSamplesAbove"/>
</message>
<message name="getAllDoubleSamplesAboveResponse">
<part name="parameters" element="tns:getAllDoubleSamplesAboveResponse"/>
</message>
<message name="safeLongestString">
<part name="parameters" element="tns:safeLongestString"/>
</message>
<message name="safeLongestStringResponse">
<part name="parameters" element="tns:safeLongestStringResponse"/>
</message>
<message name="addDoubleOnServer">
<part name="parameters" element="tns:addDoubleOnServer"/>
</message>
<message name="addDoubleOnServerResponse">
<part name="parameters" element="tns:addDoubleOnServerResponse"/>
</message>
<message name="testConnection">
<part name="parameters" element="tns:testConnection"/>
</message>
<message name="testConnectionResponse">
<part name="parameters" element="tns:testConnectionResponse"/>
</message>
<portType name="ICT2WebService">
<operation name="longestString">
<input wsam:Action="http://server/ICT2WebService/longestStringRequest" message="tns:longestString"/>
<output wsam:Action="http://server/ICT2WebService/longestStringResponse" message="tns:longestStringResponse"/>
</operation>
<operation name="getLargestDouble">
<input wsam:Action="http://server/ICT2WebService/getLargestDoubleRequest" message="tns:getLargestDouble"/>
<output wsam:Action="http://server/ICT2WebService/getLargestDoubleResponse" message="tns:getLargestDoubleResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/ICT2WebService/getLargestDouble/Fault/Exception"/>
</operation>
<operation name="hello">
<input wsam:Action="http://server/ICT2WebService/helloRequest" message="tns:hello"/>
<output wsam:Action="http://server/ICT2WebService/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="getAllDoubleSamplesAbove">
<input wsam:Action="http://server/ICT2WebService/getAllDoubleSamplesAboveRequest" message="tns:getAllDoubleSamplesAbove"/>
<output wsam:Action="http://server/ICT2WebService/getAllDoubleSamplesAboveResponse" message="tns:getAllDoubleSamplesAboveResponse"/>
</operation>
<operation name="safeLongestString">
<input wsam:Action="http://server/ICT2WebService/safeLongestStringRequest" message="tns:safeLongestString"/>
<output wsam:Action="http://server/ICT2WebService/safeLongestStringResponse" message="tns:safeLongestStringResponse"/>
<fault message="tns:Exception" name="Exception" wsam:Action="http://server/ICT2WebService/safeLongestString/Fault/Exception"/>
</operation>
<operation name="addDoubleOnServer">
<input wsam:Action="http://server/ICT2WebService/addDoubleOnServerRequest" message="tns:addDoubleOnServer"/>
<output wsam:Action="http://server/ICT2WebService/addDoubleOnServerResponse" message="tns:addDoubleOnServerResponse"/>
</operation>
<operation name="testConnection">
<input wsam:Action="http://server/ICT2WebService/testConnectionRequest" message="tns:testConnection"/>
<output wsam:Action="http://server/ICT2WebService/testConnectionResponse" message="tns:testConnectionResponse"/>
</operation>
</portType>
<binding name="ICT2WebServicePortBinding" type="tns:ICT2WebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="longestString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getLargestDouble">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllDoubleSamplesAbove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="safeLongestString">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="Exception">
<soap:fault name="Exception" use="literal"/>
</fault>
</operation>
<operation name="addDoubleOnServer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="testConnection">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ICT2WebService">
<port name="ICT2WebServicePort" binding="tns:ICT2WebServicePortBinding">
<soap:address location="http://localhost:8080/ICT2WebApplication/ICT2WebService"/>
</port>
</service>
</definitions>